.footer{
    color: #D9D9D9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left , .footer-content-center , .footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left ul li, .footer-content-center ul li, .footer-content-right ul li{
    margin-bottom: 10px;
    list-style: none;
}
.footer-content-left h2, .footer-content-center h2, .footer-content-right h2{
    color: white;
}
.footer-social-icons{
    display: flex;
    gap: 15px;
}
.footer-social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #494949;
    cursor: pointer;
    transition: all 0.3s ease;
}
.footer-social-icons a:hover{
    background-color: #FF6347;
    transform: scale(1.1);
}
.footer-social-icons img{
    width: 40px;
    height: 40px;
}
.footer-social-icons a:first-child img{
    border-radius: 50%;
    border: 1px solid white;
}
.footer li{
    cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
}
@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}